body {
  background-color: slateblue;
  text-align: center;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

fieldset {
  border: none;
padding: 2rem 0;

}

label {
  display: block;
  margin: 0.5rem 0;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  background-color: black;
min-width: 300px;
}

label[for=""] {
  text-align: center;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 35%;
  min-height: 2em;
}

form {
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

@media (max-width: 376px);

